{% extends "base.html" %}{% block title %}Home{% endblock %}
{% block content %}
<li class="list-group list-group-flush" id="messages">
    {% for message in user.messages %}
    <li class="list-group-item">
        {{ message.content }} - {{ message.date }}
    </li>
    {% endfor %}
</li>
<form method="POST">
    <textarea name="message" id="message" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
    <br />
</form>

{% endblock %}
